chapter1 filter=lfs diff=lfs merge=lfs -text
chapter2 filter=lfs diff=lfs merge=lfs -text
chapter3 filter=lfs diff=lfs merge=lfs -text
chapter4 filter=lfs diff=lfs merge=lfs -text
chapter5 filter=lfs diff=lfs merge=lfs -text
chapter6 filter=lfs diff=lfs merge=lfs -text
chapter7 filter=lfs diff=lfs merge=lfs -text
chapter8 filter=lfs diff=lfs merge=lfs -text
chapter9 filter=lfs diff=lfs merge=lfs -text
chapter10 filter=lfs diff=lfs merge=lfs -text
chapter11 filter=lfs diff=lfs merge=lfs -text
chapter12 filter=lfs diff=lfs merge=lfs -text
chapter13 filter=lfs diff=lfs merge=lfs -text
chapter14 filter=lfs diff=lfs merge=lfs -text
chapter15 filter=lfs diff=lfs merge=lfs -text
chapter16 filter=lfs diff=lfs merge=lfs -text
chapter17 filter=lfs diff=lfs merge=lfs -text
chapter18 filter=lfs diff=lfs merge=lfs -text
chapter19 filter=lfs diff=lfs merge=lfs -text
chapter20 filter=lfs diff=lfs merge=lfs -text
chapter21 filter=lfs diff=lfs merge=lfs -text
chapter22 filter=lfs diff=lfs merge=lfs -text