<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vue-post</title>
    <script src="../vue.js"></script>
    <script src="../vue-resource.js"></script>
    
</head>
<body>
用户名：<input type="text" v-model="user"><br/>
密码：<input :type="passwordBtn" v-model="password"><br/>
<input type="button" value="submit" @click="login">
<input type="button" value="密码可见" @click="passBtn">

    <script>
        new Vue({
            el:'body',
            data:{
                num:1,
                msg:'hello vue!',
                passwordBtn:'password',
                user:'',
                password:'',
            },
            methods:{
                passBtn:function(){
                    this.num++;
                    this.num%2==0?this.passwordBtn='text':this.passwordBtn='password';
                },
                login:function(){
                    //这个方法是绑定在vue-resource库的，如果不引入那个库将无法使用
                    //console.log(this.$http);
                    this.$http.post('http://localhost:1234/postMsg',{
                        user:this.user,
                        pass:this.password
                    },{
                        //将传输形式json设置为true
                        emulateJSON:true
                    }).then(function(data){
                        console.log(data);
                    },function(){
                        alert('有很大问题');
                    });
                }
            }
        })
    </script>
</body>
</html>