<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vue - 全局组件</title>
    <script src="../vue.js"></script>
</head>
<body>
    <aaa></aaa>
    <script>

        var bill = Vue.extend({
            data(){
                return {
                    arr:['mary','json','mark'],
                    arr2:['男-18','男19','女-20']
                }
            },
            template:`<div>
                <input v-for='i in arr' :value="i" type="button"/>
                <div v-for='i in arr2'>{{i}}</div>
            </div>`
        });
        //参数一：组件名，参数二：模板名
        Vue.component('aaa',bill);

        new Vue({
            el:'body'
        })
    </script>
</body>
</html>